# Maven
# Note: target/ is NOT ignored to allow JAR files to be committed
# If you want to ignore target/, uncomment the line below:
# target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Application
application.conf
my-config.conf
*.log
*.log.*

# Compiled
*.class
# Note: JAR files are NOT ignored - they will be committed to git
# If you want to ignore JAR files, uncomment the line below:
# *.jar
*.war
*.ear


